*/**/*~
*/**/*.bak
*/**/#*#
*/**/custom.el

config/awesome/themes/*
!config/awesome/themes/nhtoshiaki

Xresources.d/colors/*

scripts/vars/

xmonad/**/*.o
xmonad/**/*.hi
xmonad/**/*.errors
xmonad/**/*-backup
xmonad/**/*-linux
xmonad/xpm/

**/__pycache__/
