*/**/*~
*/**/*.bak
*/**/#*#
*/**/custom.el

Xresources.d/colors/*

scripts/vars/

xmonad/**/*.o
xmonad/**/*.hi
xmonad/**/*.errors
xmonad/**/*-backup
xmonad/**/*-linux
xmonad/xpm/

**/__pycache__/

**/.cache/
**/emacs.d/*.dat
**/emacs.d/*.eld
**/emacs.d/elpa/
**/emacs.d/places
**/emacs.d/recentf
**/emacs.d/transient/
**/emacs.d/url/

**/*_git/

**/lib/

.vscode/
